body{
  margin:0;
  background:#0b0f2a;
  font-family:tahoma;
  color:#fff;
}

.app{
  max-width:420px;
  margin:auto;
  padding:15px;
  text-align:center;
}

h1{color:#00ffd5}

.buttons{
  display:flex;
  gap:10px;
}

button{
  padding:12px;
  border:none;
  border-radius:12px;
  background:#1e90ff;
  color:#fff;
}

.wheel-box{
  position:relative;
  width:260px;
  height:260px;
  margin:20px auto;
}

.wheel{
  width:100%;
  height:100%;
  border-radius:50%;
  background:conic-gradient(
    #00ffd5 0deg 90deg,
    #ffb703 90deg 180deg,
    #ef476f 180deg 270deg,
    #118ab2 270deg 360deg
  );
  display:flex;
  flex-wrap:wrap;
  transition:3s;
}

.wheel span{
  width:50%;
  height:50%;
  display:flex;
  align-items:center;
  justify-content:center;
  font-weight:bold;
}

.arrow{
  position:absolute;
  top:-10px;
  left:50%;
  transform:translateX(-50%);
}

input{
  width:100%;
  margin:5px 0;
  padding:10px;
  border-radius:10px;
  border:none;
}

.spin{
  background:#ffb703;
  margin-top:10px;
}

ul{
  list-style:none;
  padding:0;
}

li{
  background:#161a3a;
  margin:5px 0;
  padding:8px;
  border-radius:10px;
}
